/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	width: 90%;
	margin: 0 auto;
}

nav {
	margin:1.5em 0;
	display: flex;
}

.links {
	display: flex;
	width: 100%;
}

nav a {
	width: 100%;
	text-decoration: none;
	color: black;
	justify-content: space-evenly;
}

.services-header-img {
	width: 100%;
}

header {
	margin: 2em 0;
}

.header-index {
	display: flex;
	justify-content: space-around;
}

header img {
	padding-bottom: 2em;
}

.big-box {
	margin-top: 30px;
	height: 650px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}

.boxes {
	border: solid black 1px;
	background-color: lightgray;
	width: 44%;
	height: 190px;
	margin: 0 30px;
}

.boxes h3 {
	padding: 10px 10px 0 10px;
}

.boxes p {
	padding: 0 10px 10px 10px;
}

.start-button {
	font-size: 30px;
	background-image: radial-gradient(#A4FFC4, white, #5BDFFF);
	height: 2em;
	width: 8em;
	margin: 1em 0 0 1.5em ;
	border-radius: 12px;
}
.boxes button {
	margin: 10px;
	padding: 10px 40px;
	border-radius: 5px;
}

h1 {
	font-size: 5em;
	text-align: center;
}

h2 {
	font-size: 2em;
}

hr {
	border: 2px solid black;
}

.top-section {
	display: flex;
}

.top-class {
	width: 54%;
	margin: 2em 1em;
}

.center-pic {
	width: 100%;
}

.middle-img {
	width: 99%;
}

.bottom-section {
	display: flex;
}

.bottom-class {
	width: 33%;
	margin: 1em 1em;
}

.contact {
	text-align: left;
	width: 20em;
	margin-top: 2em;
	line-height: 1.6;
}

.facts {
	display: flex;
	padding: 1em 1em 0 1em;
}

.facts p {
	padding-right: 29em;
}

.list ul {
	list-style-type: circle;
	margin: 1em;
}

.copyright {
	width: 100%;
	text-align: center;
	margin: 2em 0;
}

@media (max-width: 800px) {
	header img {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.links {
		width: 100%;
		margin-top: 1.2em;
	}
}

@media (max-width: 500px) {
	.links {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.links a {
		padding: 1em;
		border-bottom: darkgrey solid 2px;
	}

	.links a:first-child {
		border-top: darkgrey solid 2px;
	}

	.header-index {
		margin: 4em 0;
	}

	.top-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top-class {
		width: 100%;
	}

	.bottom-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottom-class {
		width: 100%;
		margin: 2em 0;
	}
}